---

---

<footer
  class="flex border-t text-xs text-white p-4 gap-2 text-center flex-col"
>
  <div class="flex flex-col lg:flex-row justify-between">
    <p>Made with ♥ by LAREIRACONF CREW</p>
    <p>Hosted by Raiola Networks</p>
  </div>
  <div class="flex flex-col">
    <p>administracion@sysarmygalicia.com</p>
    <p>© 2024 LareiraConf. Todos los derechos reservados.</p>
  </div>
</footer>

<style>
  footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 1px;
    z-index: -1;
    background-color: var(--secondary);
    color: var(--text-primary);
  }
</style>
