---

---

<footer
  class="flex border-t bg-black text-white p-4 gap-2 text-center flex-col"
>
  <div>
    <p>administracion@sysarmygalicia.com</p>
    <p class="text-sm">© 2024 LareiraConf. Todos los derechos reservados.</p>
  </div>

  <div class="flex justify-between">
    <p class="text-sm">Made with ♥ by LAREIRACONF CREW</p>
    <p class="text-sm">Hosted by Raiola Networks</p>
  </div>
</footer>
