---
import Social from "@components/Others/Social.astro";
import { Content as CodeOfConduct } from "@components/CodeOfConduct/CodeOfConduct.md";
import { Content as PrivacyPolicy } from "@components/PrivacyPolicy/PrivacyPolicy.md";
import Modal from "./Modal.astro";
import LareiraSocials from "./LareiraSocials.astro";

const linkedin = "lareira-conf-coruña-20313a337";
const x = "LareiraConf";
const instagram = "lareiraconf";
---

<footer class="grid grid-cols-1 md:grid-cols-3 text-white p-4 gap-2">
  <div
    class="order-2 md:order-1 flex justify-between h-full flex-row md:flex-col items-start"
  >
    <Modal id="codeOfConduct" title="Código de conducta" class="full">
      <CodeOfConduct slot="main" />
    </Modal>
    <Modal id="privacyPolicy" title="Política de privacidad" class="full">
      <PrivacyPolicy slot="main" />
    </Modal>
  </div>
  <div class="order-1 md:order-2 flex flex-col align-center h-full">
    <p class="social flex gap-2 justify-center">
      <LareiraSocials customClass={"text-lg"} />
    </p>
  </div>
  <div
    class="order-3 md:order-3 flex flex-row md:flex-col justify-between h-full text-end"
  >
    <p>Made with ♥ by LAREIRACONF CREW</p>
    <p>
      Hosted by <a
        href="https://raiolanetworks.com/"
        target="_blank"
        rel="noopener noreferrer">Raiola Networks</a
      >
    </p>
  </div>
</footer>

<style>
  footer {
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    z-index: 1;
    border-top: 8px solid var(--secondary);
    background-color: var(--primary);
    color: var(--text-secondary);
    font-size: 0.7rem;
  }
</style>
