---
import "@styles/header.css";
---

<header class="main-header">
  <div class="logo">
    <a href="#intro" class="logo isotipo">LAREIRA CONF</a>
  </div>
  <nav>
    <a href="#tickets" class="cta-button">Entradas</a>
  </nav>
</header>
