---
const { platform, username } = Astro.props;
const baseUrlIn = "https://www.linkedin.com/in/";
const baseUrlX = "https://x.com/";
const baseUrlInstagram = "https://www.instagram.com/";
const baseUrlBlueSky = "https://bsky.app/profile/";

const platformUrl = {
  linkedin: baseUrlIn,
  x: baseUrlX,
  instagram: baseUrlInstagram,
  bluesky: baseUrlBlueSky,
};

const baseUrl = platformUrl[platform];
---

<a
  href={`${baseUrl}${username}`}
  target="_blank"
  class="social-link leading-none"
>
  {
    platform === "linkedin" && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1.5em"
        height="1.5em"
      >
        <path
          d="M22 2V1H2v1H1v20h1v1h20v-1h1V2h-1Zm-9 10v8h-3v-11h3v1h1v-1h4v1h1v10h-3v-8h-3Zm-9-4V5h3v3H4Zm3 1v11H4V9h3Z"
          fill="currentColor"
        />
      </svg>
    )
  }
  {
    platform === "x" && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1.5em"
        height="1.5em"
      >
        <path
          d="m15.5 10v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h1v-1h-3v1h-1v1h-1v1h-1v1h-1v1h-1v1h-2v-1h-1v-1h-1v-2h-1v-1h-1v-1H1.5v1h1v1h1v1h1v2h1v1h1v2h1v1h1v2h1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h-1v1h3v-1h1v-1h1v-1h1v-1h1v-1h1v-1h2v1h1v1h1v2h1v1h1v1h7v-1h-1v-1h-1v-1h-1v-2h-1v-1h-1v-2h-1v-1h-1v-2h-1v-1h1Zm0 4v1h1v2h1v1h1v2h-3v-2h-1v-1h-1v-1h-1v-2h-1v-1h-1v-1h-1v-2h-1v-1h-1v-2h-1v-1h-1v-2h3v1h1v2h1v1h1v2h1v1h1v1h1v2h1Z"
          fill="currentColor"
        />
      </svg>
    )
  }

  {
    platform === "instagram" && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 24 24"
        width="1.5em"
        height="1.5em"
      >
        <path
          d="m17 9v-1h-1v-1h-1v-1h-6v1h-1v1h-1v1h-1v6h1v1h1v1h1v1h6v-1h1v-1h1v-1h1v-6h-1Zm-1 5h-1v1h-1v1h-4v-1h-1v-1h-1v-4h1v-1h1v-1h4v1h1v1h1v4Z"
          fill="currentColor"
        />
        <path
          d="m22 5v-2h-1v-1h-2v-1H5v1h-2v1h-1v2h-1v14h1v2h1v1h2v1h14v-1h2v-1h1v-2h1V5h-1Zm-1 14h-1v1h-1v1H5v-1h-1v-1h-1V5h1v-1h1v-1h14v1h1v1h1v14Z"
          fill="currentColor"
        />
        <rect x="17" y="5" width="2" height="2" fill="currentColor" />
      </svg>
    )
  }
  {
    platform === "bluesky" && (
      <svg
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        version="1.1"
        width="1.2em"
        height="1.2em"
        viewBox="0 0 256 256"
        xml:space="preserve"
      >
        <defs />
        <g
          style="stroke: none; stroke-width: 0; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: none; fill-rule: nonzero; opacity: 1;"
          transform="translate(1.4065934065934016 1.4065934065934016) scale(2.81 2.81)"
        >
          <path
            d="M 81.18 90 H 8.82 C 3.949 90 0 86.051 0 81.18 V 8.82 C 0 3.949 3.949 0 8.82 0 h 72.36 C 86.051 0 90 3.949 90 8.82 v 72.36 C 90 86.051 86.051 90 81.18 90 z"
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill:currentColor; fill-rule: nonzero; opacity: 1;"
            transform=" matrix(1 0 0 1 0 0) "
            stroke-linecap="round"
          />
          <path
            d="M 27.156 20.999 C 34.379 26.421 42.148 37.416 45 43.316 c 2.853 -5.9 10.621 -16.895 17.844 -22.317 c 5.212 -3.913 13.656 -6.94 13.656 2.693 c 0 1.924 -1.103 16.162 -1.75 18.473 c -2.249 8.036 -10.443 10.086 -17.732 8.845 C 69.759 53.179 73 60.362 66 67.544 c -13.294 13.642 -19.107 -3.423 -20.598 -7.795 c -0.273 -0.802 -0.401 -1.177 -0.403 -0.858 c -0.002 -0.319 -0.13 0.056 -0.403 0.858 c -1.49 4.373 -7.303 21.437 -20.598 7.795 c -7 -7.183 -3.759 -14.366 8.983 -16.534 c -7.289 1.241 -15.484 -0.809 -17.732 -8.845 c -0.647 -2.312 -1.75 -16.549 -1.75 -18.473 C 13.5 14.059 21.944 17.086 27.156 20.999 L 27.156 20.999 z"
            style="stroke: none; stroke-width: 1; stroke-dasharray: none; stroke-linecap: butt; stroke-linejoin: miter; stroke-miterlimit: 10; fill: rgb(255,255,255); fill-rule: nonzero; opacity: 1;"
            transform=" matrix(1 0 0 1 0 0) "
            stroke-linecap="round"
          />
        </g>
      </svg>
    )
  }
</a>

<style>
  .social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--text-secondary);
    transition: fill 0.3s ease;
  }

  .social-link:hover {
    color: var(--accent);
  }
</style>
