---
import Lumi from "./Lumi.astro";
---

<div class="floating-switch">
  <label class="switch">
    <input type="checkbox" id="checkBox" />
    <Lumi />
  </label>
</div>

<style>
  ∂ .dark {
    background: var(--primary);
    color: var(--text-accent);
  }

  .light {
    background: var(--secondary);
    color: var(--text-primary);
  }

  .floating-switch {
    z-index: 2;
    position: fixed;
    bottom: 60px;
    right: 30px;
  }

  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
</style>

<script>
  const body = document.body;
  const checkBox = document.getElementById("checkBox") as HTMLInputElement;

  const currentTheme = localStorage.getItem("theme");
  if (currentTheme) {
    body.classList.add(currentTheme);
    body.classList.remove(currentTheme === "dark" ? "light" : "dark");
    body.setAttribute("data-theme", currentTheme);
    checkBox.checked = currentTheme === "dark";
  }

  checkBox.addEventListener("change", () => {
    if (checkBox.checked) {
      body.classList.add("dark");
      body.classList.remove("light");
      body.setAttribute("data-theme", "dark");
      localStorage.setItem("theme", "dark");
    } else {
      body.classList.add("light");
      body.classList.remove("dark");
      body.setAttribute("data-theme", "light");
      localStorage.setItem("theme", "light");
    }
  });
</script>
