@font-face {
  font-family: Square;
  src: url(LareiraConf-MainPage/fonts/square.otf);
}

@font-face {
  font-family: "Nine-By-Five";
  src: url(LareiraConf-MainPage/fonts/Nine-By-Five-NBP.ttf.woff) format("woff"),
    url(LareiraConf-MainPage/fonts/Nine-By-Five-NBP.ttf.eot);
  font-weight: normal;
  font-style: normal;
}
