.home-section {
  text-align: center;
  font-size: 2.5rem;
  position: relative;
  overflow: hidden;
  height: 100vh;
}

.home-section .content-layer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-section .content {
  position: relative;
  z-index: 1;
}
.home-section h1 {
  font-family: var(--logo-font), sans-serif;
  font-size: 3rem;
  font-weight: bold;
  margin: 0;
}

.home-section .home-info {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 1rem;
}

.home-section h2 {
  font-size: 1.5rem;
  margin: 0;
}

.home-section .icon {
  width: 1.1rem;
  height: 1.1rem;
  vertical-align: middle;
}

.home-section .element {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.parallax-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  opacity: 0.5;
}

.evil-character-img {
  object-fit: contain;
  height: 80%;
  left: 3%;
  opacity: 1;
}

.lareira-img {
  width: 25%;
  object-fit: contain;
  height: auto;
  left: 50%;
  transform: translateX(-50%);
  opacity: 1;
}
