

.home-section {
  text-align: center;
  font-size: 2.5rem;
}
.home-section h1 {
  font-size: 8rem;
  font-weight: bold;
  margin: 0;
}
.home-section h2 {
  font-size: 5rem;
  margin: 0;
}
.placeholder-section {
  background-color: #2a2a2a;
}
