.lareira-animated {
  position: absolute;
  left: -5px;
  top: -5px;
  /* animation: 1s ease 0s infinite normal none running lareira; */
  /* -webkit-animation: lareira 1s infinite; */
  /* -moz-animation: lareira 1s infinite; */
  /* -o-animation: lareira 1s infinite; */
  box-shadow:
    100px 15px 0 0 var(--terciary),
    105px 15px 0 0 var(--terciary),
    110px 15px 0 0 var(--terciary),
    115px 15px 0 0 var(--terciary),
    95px 20px 0 0 var(--terciary),
    100px 20px 0 0 var(--terciary),
    110px 20px 0 0 var(--terciary),
    115px 20px 0 0 var(--terciary),
    85px 25px 0 0 var(--terciary),
    90px 25px 0 0 var(--terciary),
    105px 25px 0 0 var(--terciary),
    110px 25px 0 0 var(--terciary),
    85px 30px 0 0 var(--terciary),
    105px 30px 0 0 var(--terciary),
    85px 35px 0 0 var(--terciary),
    100px 35px 0 0 var(--terciary),
    80px 40px 0 0 var(--terciary),
    100px 40px 0 0 var(--terciary),
    80px 45px 0 0 var(--terciary),
    100px 45px 0 0 var(--terciary),
    60px 50px 0 0 var(--terciary),
    75px 50px 0 0 var(--terciary),
    80px 50px 0 0 var(--terciary),
    100px 50px 0 0 var(--terciary),
    105px 50px 0 0 var(--terciary),
    55px 55px 0 0 var(--terciary),
    60px 55px 0 0 var(--terciary),
    75px 55px 0 0 var(--terciary),
    105px 55px 0 0 var(--terciary),
    55px 60px 0 0 var(--terciary),
    60px 60px 0 0 var(--terciary),
    65px 60px 0 0 var(--terciary),
    75px 60px 0 0 var(--terciary),
    105px 60px 0 0 var(--terciary),
    110px 60px 0 0 var(--terciary),
    55px 65px 0 0 var(--terciary),
    65px 65px 0 0 var(--terciary),
    70px 65px 0 0 var(--terciary),
    75px 65px 0 0 var(--terciary),
    80px 65px 0 0 var(--terciary),
    110px 65px 0 0 var(--terciary),
    115px 65px 0 0 var(--terciary),
    55px 70px 0 0 var(--terciary),
    75px 70px 0 0 var(--terciary),
    115px 70px 0 0 var(--terciary),
    120px 70px 0 0 var(--terciary),
    50px 75px 0 0 var(--terciary),
    100px 75px 0 0 var(--terciary),
    120px 75px 0 0 var(--terciary),
    125px 75px 0 0 var(--terciary),
    50px 80px 0 0 var(--terciary),
    95px 80px 0 0 var(--terciary),
    100px 80px 0 0 var(--terciary),
    105px 80px 0 0 var(--terciary),
    125px 80px 0 0 var(--terciary),
    130px 80px 0 0 var(--terciary),
    50px 85px 0 0 var(--terciary),
    95px 85px 0 0 var(--terciary),
    105px 85px 0 0 var(--terciary),
    125px 85px 0 0 var(--terciary),
    130px 85px 0 0 var(--terciary),
    50px 90px 0 0 var(--terciary),
    55px 90px 0 0 var(--terciary),
    90px 90px 0 0 var(--terciary),
    95px 90px 0 0 var(--terciary),
    105px 90px 0 0 var(--terciary),
    110px 90px 0 0 var(--terciary),
    130px 90px 0 0 var(--terciary),
    135px 90px 0 0 var(--terciary),
    45px 95px 0 0 var(--terciary),
    50px 95px 0 0 var(--terciary),
    80px 95px 0 0 var(--terciary),
    85px 95px 0 0 var(--terciary),
    110px 95px 0 0 var(--terciary),
    115px 95px 0 0 var(--terciary),
    135px 95px 0 0 var(--terciary),
    40px 100px 0 0 var(--terciary),
    45px 100px 0 0 var(--terciary),
    75px 100px 0 0 var(--terciary),
    80px 100px 0 0 var(--terciary),
    115px 100px 0 0 var(--terciary),
    140px 100px 0 0 var(--terciary),
    40px 105px 0 0 var(--terciary),
    70px 105px 0 0 var(--terciary),
    120px 105px 0 0 var(--terciary),
    140px 105px 0 0 var(--terciary),
    35px 110px 0 0 var(--terciary),
    40px 110px 0 0 var(--terciary),
    65px 110px 0 0 var(--terciary),
    70px 110px 0 0 var(--terciary),
    95px 110px 0 0 var(--terciary),
    100px 110px 0 0 var(--terciary),
    105px 110px 0 0 var(--terciary),
    120px 110px 0 0 var(--terciary),
    125px 110px 0 0 var(--terciary),
    140px 110px 0 0 var(--terciary),
    35px 115px 0 0 var(--terciary),
    65px 115px 0 0 var(--terciary),
    85px 115px 0 0 var(--terciary),
    90px 115px 0 0 var(--terciary),
    95px 115px 0 0 var(--terciary),
    100px 115px 0 0 var(--terciary),
    105px 115px 0 0 var(--terciary),
    110px 115px 0 0 var(--terciary),
    125px 115px 0 0 var(--terciary),
    140px 115px 0 0 var(--terciary),
    35px 120px 0 0 var(--terciary),
    40px 120px 0 0 var(--terciary),
    65px 120px 0 0 var(--terciary),
    85px 120px 0 0 var(--terciary),
    90px 120px 0 0 var(--terciary),
    95px 120px 0 0 var(--terciary),
    100px 120px 0 0 var(--terciary),
    105px 120px 0 0 var(--terciary),
    110px 120px 0 0 var(--terciary),
    115px 120px 0 0 var(--terciary),
    125px 120px 0 0 var(--terciary),
    135px 120px 0 0 var(--terciary),
    140px 120px 0 0 var(--terciary),
    40px 125px 0 0 var(--terciary),
    45px 125px 0 0 var(--terciary),
    65px 125px 0 0 var(--terciary),
    70px 125px 0 0 var(--terciary),
    80px 125px 0 0 var(--terciary),
    85px 125px 0 0 var(--terciary),
    90px 125px 0 0 var(--terciary),
    95px 125px 0 0 var(--terciary),
    100px 125px 0 0 var(--terciary),
    105px 125px 0 0 var(--terciary),
    110px 125px 0 0 var(--terciary),
    115px 125px 0 0 var(--terciary),
    125px 125px 0 0 var(--terciary),
    135px 125px 0 0 var(--terciary),
    45px 130px 0 0 var(--terciary),
    50px 130px 0 0 var(--terciary),
    55px 130px 0 0 var(--terciary),
    70px 130px 0 0 var(--terciary),
    75px 130px 0 0 var(--terciary),
    80px 130px 0 0 var(--terciary),
    85px 130px 0 0 var(--terciary),
    90px 130px 0 0 var(--terciary),
    95px 130px 0 0 var(--terciary),
    105px 130px 0 0 var(--terciary),
    110px 130px 0 0 var(--terciary),
    115px 130px 0 0 var(--terciary),
    125px 130px 0 0 var(--terciary),
    135px 130px 0 0 var(--terciary),
    55px 135px 0 0 var(--terciary),
    60px 135px 0 0 var(--terciary),
    65px 135px 0 0 var(--terciary),
    70px 135px 0 0 var(--terciary),
    75px 135px 0 0 var(--terciary),
    80px 135px 0 0 var(--terciary),
    85px 135px 0 0 var(--terciary),
    90px 135px 0 0 var(--terciary),
    100px 135px 0 0 var(--terciary),
    105px 135px 0 0 var(--terciary),
    110px 135px 0 0 var(--terciary),
    115px 135px 0 0 var(--terciary),
    120px 135px 0 0 var(--terciary),
    125px 135px 0 0 var(--terciary),
    130px 135px 0 0 var(--terciary),
    25px 140px 0 0 var(--terciary),
    30px 140px 0 0 var(--terciary),
    35px 140px 0 0 var(--terciary),
    40px 140px 0 0 var(--terciary),
    45px 140px 0 0 var(--terciary),
    50px 140px 0 0 var(--terciary),
    55px 140px 0 0 var(--terciary),
    60px 140px 0 0 var(--terciary),
    65px 140px 0 0 var(--terciary),
    75px 140px 0 0 var(--terciary),
    80px 140px 0 0 var(--terciary),
    85px 140px 0 0 var(--terciary),
    95px 140px 0 0 var(--terciary),
    100px 140px 0 0 var(--terciary),
    105px 140px 0 0 var(--terciary),
    115px 140px 0 0 var(--terciary),
    120px 140px 0 0 var(--terciary),
    125px 140px 0 0 var(--terciary),
    130px 140px 0 0 var(--terciary),
    135px 140px 0 0 var(--terciary),
    140px 140px 0 0 var(--terciary),
    25px 145px 0 0 var(--terciary),
    30px 145px 0 0 var(--terciary),
    35px 145px 0 0 var(--terciary),
    40px 145px 0 0 var(--terciary),
    45px 145px 0 0 var(--terciary),
    50px 145px 0 0 var(--terciary),
    55px 145px 0 0 var(--terciary),
    60px 145px 0 0 var(--terciary),
    70px 145px 0 0 var(--terciary),
    75px 145px 0 0 var(--terciary),
    80px 145px 0 0 var(--terciary),
    85px 145px 0 0 var(--terciary),
    90px 145px 0 0 var(--terciary),
    95px 145px 0 0 var(--terciary),
    100px 145px 0 0 var(--terciary),
    115px 145px 0 0 var(--terciary),
    120px 145px 0 0 var(--terciary),
    125px 145px 0 0 var(--terciary),
    130px 145px 0 0 var(--terciary),
    135px 145px 0 0 var(--terciary),
    140px 145px 0 0 var(--terciary),
    25px 150px 0 0 var(--terciary),
    30px 150px 0 0 var(--terciary),
    45px 150px 0 0 var(--terciary),
    50px 150px 0 0 var(--terciary),
    55px 150px 0 0 var(--terciary),
    65px 150px 0 0 var(--terciary),
    70px 150px 0 0 var(--terciary),
    75px 150px 0 0 var(--terciary),
    80px 150px 0 0 var(--terciary),
    85px 150px 0 0 var(--terciary),
    90px 150px 0 0 var(--terciary),
    100px 150px 0 0 var(--terciary),
    105px 150px 0 0 var(--terciary),
    110px 150px 0 0 var(--terciary),
    115px 150px 0 0 var(--terciary),
    120px 150px 0 0 var(--terciary),
    125px 150px 0 0 var(--terciary),
    130px 150px 0 0 var(--terciary),
    135px 150px 0 0 var(--terciary),
    140px 150px 0 0 var(--terciary),
    145px 150px 0 0 var(--terciary),
    25px 155px 0 0 var(--terciary),
    30px 155px 0 0 var(--terciary),
    35px 155px 0 0 var(--terciary),
    40px 155px 0 0 var(--terciary),
    45px 155px 0 0 var(--terciary),
    55px 155px 0 0 var(--terciary),
    60px 155px 0 0 var(--terciary),
    65px 155px 0 0 var(--terciary),
    70px 155px 0 0 var(--terciary),
    75px 155px 0 0 var(--terciary),
    80px 155px 0 0 var(--terciary),
    85px 155px 0 0 var(--terciary),
    95px 155px 0 0 var(--terciary),
    100px 155px 0 0 var(--terciary),
    125px 155px 0 0 var(--terciary),
    135px 155px 0 0 var(--terciary),
    140px 155px 0 0 var(--terciary),
    145px 155px 0 0 var(--terciary),
    25px 160px 0 0 var(--terciary),
    30px 160px 0 0 var(--terciary),
    35px 160px 0 0 var(--terciary),
    40px 160px 0 0 var(--terciary),
    45px 160px 0 0 var(--terciary),
    50px 160px 0 0 var(--terciary),
    55px 160px 0 0 var(--terciary),
    60px 160px 0 0 var(--terciary),
    65px 160px 0 0 var(--terciary),
    70px 160px 0 0 var(--terciary),
    75px 160px 0 0 var(--terciary),
    80px 160px 0 0 var(--terciary),
    90px 160px 0 0 var(--terciary),
    95px 160px 0 0 var(--terciary),
    100px 160px 0 0 var(--terciary),
    105px 160px 0 0 var(--terciary),
    110px 160px 0 0 var(--terciary),
    115px 160px 0 0 var(--terciary),
    120px 160px 0 0 var(--terciary),
    125px 160px 0 0 var(--terciary),
    130px 160px 0 0 var(--terciary),
    135px 160px 0 0 var(--terciary),
    140px 160px 0 0 var(--terciary),
    145px 160px 0 0 var(--terciary);
  height: 5px;
  width: 5px;
}

@keyframes lareira {
  0%,
  100% {
    box-shadow:
      100px 15px 0 0 var(--terciary),
      105px 15px 0 0 var(--terciary),
      110px 15px 0 0 var(--terciary),
      115px 15px 0 0 var(--terciary),
      95px 20px 0 0 var(--terciary),
      100px 20px 0 0 var(--terciary),
      110px 20px 0 0 var(--terciary),
      115px 20px 0 0 var(--terciary),
      85px 25px 0 0 var(--terciary),
      90px 25px 0 0 var(--terciary),
      105px 25px 0 0 var(--terciary),
      110px 25px 0 0 var(--terciary),
      85px 30px 0 0 var(--terciary),
      105px 30px 0 0 var(--terciary),
      85px 35px 0 0 var(--terciary),
      100px 35px 0 0 var(--terciary),
      80px 40px 0 0 var(--terciary),
      100px 40px 0 0 var(--terciary),
      80px 45px 0 0 var(--terciary),
      100px 45px 0 0 var(--terciary),
      60px 50px 0 0 var(--terciary),
      75px 50px 0 0 var(--terciary),
      80px 50px 0 0 var(--terciary),
      100px 50px 0 0 var(--terciary),
      105px 50px 0 0 var(--terciary),
      55px 55px 0 0 var(--terciary),
      60px 55px 0 0 var(--terciary),
      75px 55px 0 0 var(--terciary),
      105px 55px 0 0 var(--terciary),
      55px 60px 0 0 var(--terciary),
      60px 60px 0 0 var(--terciary),
      65px 60px 0 0 var(--terciary),
      75px 60px 0 0 var(--terciary),
      105px 60px 0 0 var(--terciary),
      110px 60px 0 0 var(--terciary),
      55px 65px 0 0 var(--terciary),
      65px 65px 0 0 var(--terciary),
      70px 65px 0 0 var(--terciary),
      75px 65px 0 0 var(--terciary),
      80px 65px 0 0 var(--terciary),
      110px 65px 0 0 var(--terciary),
      115px 65px 0 0 var(--terciary),
      55px 70px 0 0 var(--terciary),
      75px 70px 0 0 var(--terciary),
      115px 70px 0 0 var(--terciary),
      120px 70px 0 0 var(--terciary),
      50px 75px 0 0 var(--terciary),
      100px 75px 0 0 var(--terciary),
      120px 75px 0 0 var(--terciary),
      125px 75px 0 0 var(--terciary),
      50px 80px 0 0 var(--terciary),
      95px 80px 0 0 var(--terciary),
      100px 80px 0 0 var(--terciary),
      105px 80px 0 0 var(--terciary),
      125px 80px 0 0 var(--terciary),
      130px 80px 0 0 var(--terciary),
      50px 85px 0 0 var(--terciary),
      95px 85px 0 0 var(--terciary),
      105px 85px 0 0 var(--terciary),
      125px 85px 0 0 var(--terciary),
      130px 85px 0 0 var(--terciary),
      50px 90px 0 0 var(--terciary),
      55px 90px 0 0 var(--terciary),
      90px 90px 0 0 var(--terciary),
      95px 90px 0 0 var(--terciary),
      105px 90px 0 0 var(--terciary),
      110px 90px 0 0 var(--terciary),
      130px 90px 0 0 var(--terciary),
      135px 90px 0 0 var(--terciary),
      45px 95px 0 0 var(--terciary),
      50px 95px 0 0 var(--terciary),
      80px 95px 0 0 var(--terciary),
      85px 95px 0 0 var(--terciary),
      110px 95px 0 0 var(--terciary),
      115px 95px 0 0 var(--terciary),
      135px 95px 0 0 var(--terciary),
      40px 100px 0 0 var(--terciary),
      45px 100px 0 0 var(--terciary),
      75px 100px 0 0 var(--terciary),
      80px 100px 0 0 var(--terciary),
      115px 100px 0 0 var(--terciary),
      140px 100px 0 0 var(--terciary),
      40px 105px 0 0 var(--terciary),
      70px 105px 0 0 var(--terciary),
      120px 105px 0 0 var(--terciary),
      140px 105px 0 0 var(--terciary),
      35px 110px 0 0 var(--terciary),
      40px 110px 0 0 var(--terciary),
      65px 110px 0 0 var(--terciary),
      70px 110px 0 0 var(--terciary),
      95px 110px 0 0 var(--terciary),
      100px 110px 0 0 var(--terciary),
      105px 110px 0 0 var(--terciary),
      120px 110px 0 0 var(--terciary),
      125px 110px 0 0 var(--terciary),
      140px 110px 0 0 var(--terciary),
      35px 115px 0 0 var(--terciary),
      65px 115px 0 0 var(--terciary),
      85px 115px 0 0 var(--terciary),
      90px 115px 0 0 var(--terciary),
      95px 115px 0 0 var(--terciary),
      100px 115px 0 0 var(--terciary),
      105px 115px 0 0 var(--terciary),
      110px 115px 0 0 var(--terciary),
      125px 115px 0 0 var(--terciary),
      140px 115px 0 0 var(--terciary),
      35px 120px 0 0 var(--terciary),
      40px 120px 0 0 var(--terciary),
      65px 120px 0 0 var(--terciary),
      85px 120px 0 0 var(--terciary),
      90px 120px 0 0 var(--terciary),
      95px 120px 0 0 var(--terciary),
      100px 120px 0 0 var(--terciary),
      105px 120px 0 0 var(--terciary),
      110px 120px 0 0 var(--terciary),
      115px 120px 0 0 var(--terciary),
      125px 120px 0 0 var(--terciary),
      135px 120px 0 0 var(--terciary),
      140px 120px 0 0 var(--terciary),
      40px 125px 0 0 var(--terciary),
      45px 125px 0 0 var(--terciary),
      65px 125px 0 0 var(--terciary),
      70px 125px 0 0 var(--terciary),
      80px 125px 0 0 var(--terciary),
      85px 125px 0 0 var(--terciary),
      90px 125px 0 0 var(--terciary),
      95px 125px 0 0 var(--terciary),
      100px 125px 0 0 var(--terciary),
      105px 125px 0 0 var(--terciary),
      110px 125px 0 0 var(--terciary),
      115px 125px 0 0 var(--terciary),
      125px 125px 0 0 var(--terciary),
      135px 125px 0 0 var(--terciary),
      45px 130px 0 0 var(--terciary),
      50px 130px 0 0 var(--terciary),
      55px 130px 0 0 var(--terciary),
      70px 130px 0 0 var(--terciary),
      75px 130px 0 0 var(--terciary),
      80px 130px 0 0 var(--terciary),
      85px 130px 0 0 var(--terciary),
      90px 130px 0 0 var(--terciary),
      95px 130px 0 0 var(--terciary),
      105px 130px 0 0 var(--terciary),
      110px 130px 0 0 var(--terciary),
      115px 130px 0 0 var(--terciary),
      125px 130px 0 0 var(--terciary),
      135px 130px 0 0 var(--terciary),
      55px 135px 0 0 var(--terciary),
      60px 135px 0 0 var(--terciary),
      65px 135px 0 0 var(--terciary),
      70px 135px 0 0 var(--terciary),
      75px 135px 0 0 var(--terciary),
      80px 135px 0 0 var(--terciary),
      85px 135px 0 0 var(--terciary),
      90px 135px 0 0 var(--terciary),
      100px 135px 0 0 var(--terciary),
      105px 135px 0 0 var(--terciary),
      110px 135px 0 0 var(--terciary),
      115px 135px 0 0 var(--terciary),
      120px 135px 0 0 var(--terciary),
      125px 135px 0 0 var(--terciary),
      130px 135px 0 0 var(--terciary),
      25px 140px 0 0 var(--terciary),
      30px 140px 0 0 var(--terciary),
      35px 140px 0 0 var(--terciary),
      40px 140px 0 0 var(--terciary),
      45px 140px 0 0 var(--terciary),
      50px 140px 0 0 var(--terciary),
      55px 140px 0 0 var(--terciary),
      60px 140px 0 0 var(--terciary),
      65px 140px 0 0 var(--terciary),
      75px 140px 0 0 var(--terciary),
      80px 140px 0 0 var(--terciary),
      85px 140px 0 0 var(--terciary),
      95px 140px 0 0 var(--terciary),
      100px 140px 0 0 var(--terciary),
      105px 140px 0 0 var(--terciary),
      115px 140px 0 0 var(--terciary),
      120px 140px 0 0 var(--terciary),
      125px 140px 0 0 var(--terciary),
      130px 140px 0 0 var(--terciary),
      135px 140px 0 0 var(--terciary),
      140px 140px 0 0 var(--terciary),
      25px 145px 0 0 var(--terciary),
      30px 145px 0 0 var(--terciary),
      35px 145px 0 0 var(--terciary),
      40px 145px 0 0 var(--terciary),
      45px 145px 0 0 var(--terciary),
      50px 145px 0 0 var(--terciary),
      55px 145px 0 0 var(--terciary),
      60px 145px 0 0 var(--terciary),
      70px 145px 0 0 var(--terciary),
      75px 145px 0 0 var(--terciary),
      80px 145px 0 0 var(--terciary),
      85px 145px 0 0 var(--terciary),
      90px 145px 0 0 var(--terciary),
      95px 145px 0 0 var(--terciary),
      100px 145px 0 0 var(--terciary),
      115px 145px 0 0 var(--terciary),
      120px 145px 0 0 var(--terciary),
      125px 145px 0 0 var(--terciary),
      130px 145px 0 0 var(--terciary),
      135px 145px 0 0 var(--terciary),
      140px 145px 0 0 var(--terciary),
      25px 150px 0 0 var(--terciary),
      30px 150px 0 0 var(--terciary),
      45px 150px 0 0 var(--terciary),
      50px 150px 0 0 var(--terciary),
      55px 150px 0 0 var(--terciary),
      65px 150px 0 0 var(--terciary),
      70px 150px 0 0 var(--terciary),
      75px 150px 0 0 var(--terciary),
      80px 150px 0 0 var(--terciary),
      85px 150px 0 0 var(--terciary),
      90px 150px 0 0 var(--terciary),
      100px 150px 0 0 var(--terciary),
      105px 150px 0 0 var(--terciary),
      110px 150px 0 0 var(--terciary),
      115px 150px 0 0 var(--terciary),
      120px 150px 0 0 var(--terciary),
      125px 150px 0 0 var(--terciary),
      130px 150px 0 0 var(--terciary),
      135px 150px 0 0 var(--terciary),
      140px 150px 0 0 var(--terciary),
      145px 150px 0 0 var(--terciary),
      25px 155px 0 0 var(--terciary),
      30px 155px 0 0 var(--terciary),
      35px 155px 0 0 var(--terciary),
      40px 155px 0 0 var(--terciary),
      45px 155px 0 0 var(--terciary),
      55px 155px 0 0 var(--terciary),
      60px 155px 0 0 var(--terciary),
      65px 155px 0 0 var(--terciary),
      70px 155px 0 0 var(--terciary),
      75px 155px 0 0 var(--terciary),
      80px 155px 0 0 var(--terciary),
      85px 155px 0 0 var(--terciary),
      95px 155px 0 0 var(--terciary),
      100px 155px 0 0 var(--terciary),
      125px 155px 0 0 var(--terciary),
      135px 155px 0 0 var(--terciary),
      140px 155px 0 0 var(--terciary),
      145px 155px 0 0 var(--terciary),
      25px 160px 0 0 var(--terciary),
      30px 160px 0 0 var(--terciary),
      35px 160px 0 0 var(--terciary),
      40px 160px 0 0 var(--terciary),
      45px 160px 0 0 var(--terciary),
      50px 160px 0 0 var(--terciary),
      55px 160px 0 0 var(--terciary),
      60px 160px 0 0 var(--terciary),
      65px 160px 0 0 var(--terciary),
      70px 160px 0 0 var(--terciary),
      75px 160px 0 0 var(--terciary),
      80px 160px 0 0 var(--terciary),
      90px 160px 0 0 var(--terciary),
      95px 160px 0 0 var(--terciary),
      100px 160px 0 0 var(--terciary),
      105px 160px 0 0 var(--terciary),
      110px 160px 0 0 var(--terciary),
      115px 160px 0 0 var(--terciary),
      120px 160px 0 0 var(--terciary),
      125px 160px 0 0 var(--terciary),
      130px 160px 0 0 var(--terciary),
      135px 160px 0 0 var(--terciary),
      140px 160px 0 0 var(--terciary),
      145px 160px 0 0 var(--terciary);
    height: 5px;
    width: 5px;
  }
}
