---
import Header from "@components/Others/Header.astro";
import Footer from "@components/Others/Footer.astro";
import Intro from "@components/Intro/Intro.astro";
import Dates from "@components/Intro/Dates.astro";
import About from "@components/About/About.astro";
import Team from "@components/Team/Team.astro";
import Speakers from "@components/Speakers/Speakers.astro";
import Sponsors from "@components/Sponsors/Sponsors.astro";
import Agenda from "@components/Agenda/Agenda.astro";
import Contact from "@components/Contact/Contact.astro";
import Place from "@components/Intro/Place.astro";

import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://raw.githubusercontent.com/brandonmcconnell/typed.css/master/typed.scss"
    />

    <title>LareiraConf 2025</title>
  </head>
  <body class="bg-white text-black font-mono">
    <Header />
    <main>
      <div
        class="grid grid-rows-auto mt-32 p-6 lg:p-12 gap-24 max-w-screen-xl mx-auto scroll-mt-32"
        id="intro"
      >
        <section
          class="grid xl:grid-cols-3 xl:grid-rows-4 xl:gap-20 min-h-[40rem] grid-cols-1 gap-16"
          style="grid-auto-rows: minmax(240px, auto);"
        >
          <div class="xl:col-span-2 xl:row-span-4 row-span-2"><Intro /></div>
          <div class="xl:col-span-1 xl:row-span-2"><Dates /></div>
          <div class="xl:row-start-3 xl:col-start-3 xl:row-span-2">
            <Place />
          </div>
        </section>
        <section class="row-span-1 scroll-mt-32" id="about">
          <About />
        </section>

        <section class="row-span-1 scroll-mt-32" id="agenda">
          <Agenda />
        </section>
        <section class="row-span-1 scroll-mt-32" id="team">
          <Team />
        </section>
        <section class="row-span-1 scroll-mt-32" id="sponsors">
          <Sponsors />
        </section>
        <!-- <section class="row-span-1" id="speakers"><Speakers /></section> -->
      </div>
    </main>
    <Footer />
  </body>
</html>
