---
import Layout from "src/layouts/Layout.astro";
import Intro from "@components/Intro/Intro.astro";
---

<Layout title="Lareira Conf 2026">
  <div class="flex justify-end p-6">
    <a href="2025" class=" top-6 right-6 btn-3d main-btn">
      Ver la edición 2025
    </a>
  </div>
  <Intro />
</Layout>
