---
import Intro from "@components/Intro/Intro.astro";
import Dates from "@components/Intro/Dates.astro";

import Place from "@components/Intro/Place.astro";
import Toggle from "@components/Others/Toggle.astro";
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Lareira Conf 2025">
  <div class="grid grid-rows-auto p-6 lg:p-12 gap-24 scroll-mt-32" id="intro">
    <Toggle />
    <section
      class="grid xl:grid-cols-3 xl:grid-rows-4 xl:gap-20 min-h-[40rem] grid-cols-1 gap-16"
      style="grid-auto-rows: minmax(240px, auto);"
    >
      <div class="xl:col-span-2 xl:row-span-4 row-span-2"><Intro /></div>
      <div class="xl:col-span-1 xl:row-span-2"><Dates /></div>
      <div class="xl:row-start-3 xl:col-start-3 xl:row-span-2">
        <Place />
      </div>
    </section>

    <!-- <section class="row-span-1" id="speakers"><Speakers /></section> -->
  </div>
</Layout>
