---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Lareira from "../components/Lareira.astro"
import Equipo from "../components/Equipo.astro";
import "../styles/global.css";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link
			href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
			rel="stylesheet"
		/>
		<title>LareiraConf 2025</title>
	</head>
	<body class="bg-white text-black font-mono">
		<Header />
		<main class="p-8 space-y-10">
			<!-- Sección de introducción -->
			<section id="intro" class="border border-black p-4">
				<h1 class="text-3xl font-bold mb-4 text-center">
					LareiraConf 2025
				</h1>
				<p class="text-lg text-center">
					Bienvenidos a LareiraConf. Este es el primer evento de la comunidad de Sysarmy Galicia.
				</p>
			</section>

			<!-- Sección "Sobre la conferencia" -->
			<Lareira />

			<!-- Sección "Equipo" -->
			<Equipo />

			<!-- Sección de contacto -->
			<section id="contact" class="border border-black p-4">
				<h2 class="text-2xl font-bold mb-4">Contacto</h2>
				<address class="not-italic">
					A coruña, Galicia<br />
					Teléfono: 638-685-457<br />
					Email: administracion@sysarmygalicia.com
				</address>
			</section>
		</main>
		<Footer />
	</body>
</html>
