---
import Layout from "src/layouts-2026/Layout-landing.astro";
import Intro from "@components/Intro/Intro.astro";
---

<Layout title="Lareira Conf 2026">
  <div class="flex justify-end p-6">
    <a href="2025" class="btn-3d main-btn right-6 top-6">
      Ver la edición 2025
    </a>
  </div>
  <Intro />
</Layout>
