---
import LareiraSocials from "@components/Others/LareiraSocials.astro";
import Wrapper from "@components/Others/Wrapper.astro";
---

<Wrapper>
  <h1 class="font-title text-5xl xl:text-5xl text-3xl font-bold mb-8"></h1>
  <div class="grid grid-cols-1 xl:grid-cols-2 gap-12 text-center">
    <h1 class="font-title text-3xl xl:text-5xl font-bold">
      ¡Las entradas estarán pronto a la venta!
    </h1>
    <section class="flex flex-col gap-4">
      <p>Síguenos en redes para ser el primero en enterarte.</p>
      <LareiraSocials customClass={"text-2xl mb-4"} />
    </section>
  </div>
</Wrapper>

<style></style>

<script></script>
