---

---

<section class="w-full h-full grid border-8 border-black p-4 relative">
  <div
    class="grid grid-cols-1 gap-8 place-content-center border-8 border-black p-10 -left-6 -top-6 w-full h-full"
  >
    <h1 class="text-5xl font-bold mb-8">Contacto</h1>
    <address class="not-italic">
      A coruña, Galicia<br />
      Teléfono: 638-685-457<br />
      Email: info@lareiraconf.es
    </address>
  </div>
</section>
