<section id="about" class="border border-black p-4">
    <h2 class="text-2xl font-bold mb-4">¿Qué es LareiraConf?</h2>
    <p>
        LareiraConf será la primera conferencia de Sysarmy en
        Galicia, una jornada que contará con la participación de
        destacados ponentes del sector IT en España. Además de las
        conferencias, el evento ofrecerá un espacio exclusivo para
        networking, donde las empresas podrán presentarse ante un
        público especializado y establecer contactos clave. También
        habrá un área de socialización diseñada para fomentar el
        intercambio de ideas y el debate sobre los temas abordados
        en la conferencia.
    </p>
</section>