---
import { Image } from "astro:assets";
import Speaker1 from "/archived-editions/2025/speakers/speaker1.jpg";
import Speaker2 from "/archived-editions/2025/speakers/speaker2.jpg";

const speakers = [
  { name: "Speaker 1", bio: "Bio of Speaker 1", image: Speaker1 },
  { name: "Speaker 2", bio: "Bio of Speaker 2", image: Speaker2 },
  // Add more speakers as needed
];
---

<div class="flex flex-wrap gap-5 justify-center">
  <h1>Speakers</h1>
  {
    speakers.map((speaker) => (
      <div class="rounded-lg shadow-md overflow-hidden w-72 text-center">
        <Image src={speaker.image} alt={speaker.name} class="w-full h-auto" />
        <div class="p-5">
          <h3 class="text-xl m-0">{speaker.name}</h3>
          <p class="text-base text-gray-600">{speaker.bio}</p>
        </div>
      </div>
    ))
  }
</div>
