---

---

<section class="w-full h-full grid border-8 border-black relative dotted-bg">
  <div
    class="grid place-content-center border-8 border-black p-10 absolute -left-6 -top-6 w-full h-full bg-white move-infinity-container move-container"
  >
    <h4 class="text-5xl font-bold text-center">22.03.25</h4>
  </div>
</section>
