---
import Wrapper from "@components/Others/Wrapper.astro";
---

<Wrapper>
  <div
    class="flex align-center justify-center h-48 w-48 xl:h-40 xl:w-40 mb-6 relative mx-auto my-6 lareira-container"
  >
    <div class="lareira-animated"></div>
  </div>
  <h1 class="font-bold text-center text-5xl mb-2">
    Bienvenidos a LareiraConf.
  </h1>
  <h2 class="font-bold text-center text-3xl">
    El encuentro tech que enciende ideas y conecta comunidades
  </h2>
</Wrapper>

<style>
  .lareira-container {
    filter: drop-shadow(0px 5px 120px #ff7e47);
  }
</style>
