<div class="flex grow flex-col items-center justify-center text-center">
  <div class="lareira-container">
    <div class="lareira-animated"></div>
  </div>
  <h1
    class="logo-style text-4xl font-bold md:text-6xl lg:text-7xl"
    data-text="LAREIRACONF'26"
  >
    LAREIRACONF'26
  </h1>
  <span
    class="date-text mt-4 block text-lg md:text-2xl lg:text-3xl"
    data-text="21.03.26 A CORUÑA"
  >
    21.03.26 A CORUÑA
  </span>
</div>

<style>
  .lareira-container {
    width: 190px;
    height: 80px;
    position: relative;
    filter: drop-shadow(0px 5px 120px #ff7e47);
  }
</style>
