---
import Image from "astro/components/Image.astro";
import LareiraIMG from "@img/assets/lareira-animated.gif";
import Wrapper from "@components/Others/Wrapper.astro";
---

<Wrapper>
  <div class="flex align-center justify-center h-40 w-full mb-6">
    <Image src={LareiraIMG} alt={"animacion lareira"} class="max-h-full" />
  </div>
  <h1 class="font-bold text-center text-5xl mb-2">
    Bienvenidos a LareiraConf.
  </h1>
  <h2 class="font-bold text-center text-3xl">
    El encuentro tech que enciende ideas y conecta comunidades
  </h2>
  <img src="" />
</Wrapper>
