<section class="w-full h-full border-8 border-black relative dotted-bg">
  <div
    class="grid place-content-center border-8 border-black p-10 absolute -left-6 -top-6 w-full h-full bg-white move-container"
  >
    <h4 class="place-content-center text-2xl font-bold text-center">
      Paraninfo UDC
    </h4>
    <h1 class="text-5xl font-bold text-center">A Coruña</h1>
  </div>
</section>
