.corner-flourish {
  position: absolute;
  width: 100px;
  height: 100px;

  svg {
    width: 100%;
    height: 100%;
    color: var(--color-brown);
  }

  &.top-left {
    top: -10px;
    left: -10px;
  }

  &.top-right {
    top: -10px;
    right: -10px;
    transform: rotate(90deg);
  }

  &.bottom-left {
    bottom: -10px;
    left: -10px;
    transform: rotate(-90deg);
  }

  &.bottom-right {
    bottom: -10px;
    right: -10px;
    transform: rotate(180deg);
  }
}
