---
import "../styles/global.css";
import Header from "@components/Others/Header.astro";
import CursorFollower from "@components/CursorFollower/CursorFollower.tsx";

const { title } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      property="og:title"
      content="LareiraConf. El encuentro tech que enciende ideas y conecta comunidades"
    />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="images/1500x500.jpg" />
    <meta property="og:url" content="https://x.com/LareiraConf" />
    <meta
      property="og:description"
      content="El evento tech en A Coruña donde la comunidad se reúne para aprender, inspirarse y conectar. ¡Forma parte de esta experiencia!"
    />
    <meta property="og:site_name" content="LareiraConf" />
    <meta property="og:logo" content="images/L-2O7YyK_400x400.jpg" />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <title>{title}</title>
  </head>
  <body class="dark font-mono" data-theme="dark">
    <CursorFollower client:only="react" />
    <main>
      <Header />
      <slot />
      <!-- <Footer /> -->
    </main>
  </body>
</html>
