---
import Wrapper from "@components/Others/Wrapper.astro";
import Raiola from "@img/sponsors/raiola.svg";
import Denodo from "@img/sponsors/denodo.svg";
import Dinahosting from "@img/sponsors/dinahosting.svg";
import Tecdesoft from "@img/sponsors/tecdesoft.svg";
import Captology from "@img/sponsors/captology.svg";
import SponsorsTier from "./SponsorsTier.astro";
import Teimas from "@img/sponsors/teimas.svg";
import SmartClick from "@img/sponsors/smartclick.svg";
import UDC from "@img/sponsors/udc.svg";
import Codely from "@img/sponsors/codely.svg";
import NextDigital from "@img/sponsors/nextdigital.svg";

enum SponsorTier {
  Lume = "lume",
  Brasa = "brasa",
  Faisca = "faisca",
  Vagalume = "vagalume",
}

const sponsors = [
  {
    name: "Raiola Networks",
    logo: Raiola,
    url: "https://raiolanetworks.com/",
    tier: SponsorTier.Lume,
  },
  {
    name: "Denodo",
    logo: Denodo,
    url: "https://www.denodo.com/",
    tier: SponsorTier.Lume,
  },
  {
    name: "dinahosting",
    logo: Dinahosting,
    url: "https://dinahosting.com/",
    tier: SponsorTier.Lume,
  },
  {
    name: "Smartclick",
    logo: SmartClick,
    url: "https://smartclick.es/",
    tier: SponsorTier.Lume,
  },
  {
    name: "Teimas",
    logo: Teimas,
    url: "https://www.teimas.com/",
    tier: SponsorTier.Brasa,
  },
  {
    name: "Tecdesoft",
    logo: Tecdesoft,
    url: "https://tecdesoft.es/",
    tier: SponsorTier.Brasa,
  },
  {
    name: "Captology",
    logo: Captology,
    url: "https://www.captology.es/",
    tier: SponsorTier.Faisca,
  },
  {
    name: "Codely",
    logo: Codely,
    url: "https://codely.com/",
    tier: SponsorTier.Vagalume,
  },
  // {
  //   name: "Next Digital",
  //   logo: NextDigital,
  //   url: "https://www.nextdigital.es/",
  //   tier: SponsorTier.Vagalume,
  // },
  {
    name: "Universidade da Coruña",
    logo: UDC,
    url: "https://www.udc.es/",
    tier: SponsorTier.Vagalume,
  },
];

const tiers = [SponsorTier.Lume, SponsorTier.Brasa, SponsorTier.Faisca];
---

<Wrapper>
  <div
    class="sponsors-container col-span-1 place-content-center text-center space-y-10"
  >
    <h1 class="text-5xl font-bold mb-4">Sponsors</h1>
    <p class="mb-10">
      La LareiraConf, no sería posible sin el apoyo de las empresas que han
      apostado por lo que estamos construyendo. Gracias a su ayuda, podemos
      organizar un evento que reúna a la comunidad tecnológica gallega con el
      nivel que merece y con un precio ajustado.
    </p>
    <div class="flex items-center justify-between gap-2 flex-wrap">
      {
        tiers.map((tier) => (
          <SponsorsTier
            sponsors={sponsors.filter((sponsor) => sponsor.tier === tier)}
            class={tier}
            tier={tier}
          />
        ))
      }
    </div>
    <p class="mb-10">
      Además de nuestros sponsors, contamos con el apoyo de otras organizaciones
      que han contribuido con servicios, productos o espacios para hacer
      realidad este evento. Ellos hacen posible que os traigamos sorpresas,
      sorteos y una experiencia única con unas vistas increíbles.
    </p>
    <div class="flex items-center justify-between gap-2 flex-wrap">
      {
        (
          <SponsorsTier
            sponsors={sponsors.filter(
              (sponsor) => sponsor.tier === SponsorTier.Vagalume
            )}
            class={SponsorTier.Vagalume}
            tier={SponsorTier.Vagalume}
          />
        )
      }
    </div>
    <p class="mb-10 flex flex-col item-center">
      <span class="mb-2">
        Si quieres encender la Lareira, consulta nuestras <a
          class="underline"
          target="_blank"
          href="https://drive.google.com/file/d/1qAiU4k50GV9pbgfehwGJIA9ow2SCxUWh/view?usp=sharing"
          >flamantes oportunidades de patrocinio</a
        > y
      </span>
      <button
        class="p-2 text-accent btn-3d w-fit place-self-center"
        onclick="window.location.href='mailto:administracion@sysarmygalicia.com?subject=Patrocinio LareiraConf 2025'"
      >
        escríbenos un email
      </button>
    </p>
  </div>
</Wrapper>
