---
export interface Props {
  url: string;
  logo: string;
  name: string;
  class?: string;
}

const { url, logo, name, class: customClass } = Astro.props;
---

<a
  href={url}
  target="_blank"
  rel="noopener noreferrer"
  class={`no-underline flex justify-center ${customClass ? customClass : ""}`}
>
  <img
    src={logo}
    alt={name}
    class="max-w-xs w-full filter brightness-0 hover:filter-none transition-all duration-300"
  />
</a>

<style>
  .lume-tier {
    width: 14rem;
  }

  .brasa-tier {
    width: 6rem;
  }

  .faisca-tier {
    width: 4rem;
  }
</style>
